header {
  background-color: #f2f2f2;
}

.navbar {
  padding: 0;
  margin-bottom: 30px;
  max-width: 1440px;
}
.nav-link {
  font-size: 20px;
}

ul {
  list-style-type: none;
  margin: 0;
}
ul li {
  display: inline-flex;
  flex-direction: row;
}
ul li a {
  color: inherit;
  font-weight: 500;
}

.fa-shopping-cart {
  color: darkviolet;
}
.btn-accueil {
  font-size: 1.3em;
  font-weight: bold;
  padding: 30px 0 30px 30px;
  color: inherit;
}
.container-commande {
  padding: 30px;
}
.recapitulatif-commande {
  border: 1px solid rgb(235, 221, 231);
  background-color: rgb(235, 221, 231);
  text-align: center;
}
.recapitulatif-commande h3 {
  padding: 30px 0 30px 0;
}
.order-id {
  font-size: 1.4rem;
}
.prix-total {
  font-size: 1.4rem;
}
.remerciement {
  padding: 30px 0 30px 0;
  font-weight: bold;
  font-size: 1.5rem;
  font-style: italic;
}
